<!DOCTYPE html>
<html lang="en">
    <head>
        {% set version_id = "8fcaaf" %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if config.theme.color %}<meta name="theme-color" content="{{ config.theme.color }}">{% endif %}
        {% if config.site_description %}<meta name="description" content="{{ config.site_description }}">{% endif %}
        {% if config.site_author %}<meta name="author" content="{{ config.site_author }}">{% endif %}
        {% if page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}">{% endif %}
        <link rel="shortcut icon" href="{{ base_url }}/img/favicon.ico">

        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>

        <link href="{{ base_url }}/css/bootstrap-custom.min.css?v={{version_id}}" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="{{ base_url }}/css/base.min.css?v={{version_id}}" rel="stylesheet">
        {%- for path in extra_css %}
        <link href="{{ path }}" rel="stylesheet">
        {%- endfor %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        {% if config.google_analytics %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ config.google_analytics[0] }}', '{{ config.google_analytics[1] }}');
            ga('send', 'pageview');
        </script>
        {% endif %}

       {% if config.extra.enable_ads %}
       <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
       <script>
          (adsbygoogle = window.adsbygoogle || []).push({
             google_ad_client: "ca-pub-7526144995854530",
             enable_page_level_ads: true
          });
       </script>
       {% endif %}
    </head>

    <body{% if page and page.is_homepage %} class="homepage"{% endif %}>

        {% include "nav.html" %}

        <div class="container">
                <div class="col-md-3">{% include "toc.html" %}</div>
                <div class="col-md-9" role="main">{{ page.content }}</div>
        </div>

        <footer class="col-md-12">
            <hr>
            {% if config.extra.enable_ads %}
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Footer -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-7526144995854530"
                 data-ad-slot="1627197977"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
             <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
             </script>
            {% endif %} 
            <p style="margin-top: 20px">Questions or comments can be directed to <a href="mailto:john@5thsrd.org">john@5thsrd.org</a>.  Theme provided by <a href="https://github.com/ron-reaser">Reaser</a>.</p>
            {% if config.copyright %}
                <p>{{ config.copyright }}</p>
            {% endif %}
            <p>{% if config.repo_url %}Check out the <a href="{{ config.repo_url }}">GitHub</a> repo.  {% endif %}Website built with <a href="http://www.mkdocs.org/">MkDocs</a>.</p>
            <p>Download the offline version of this site <a href="{{ base_url }}/5thsrd_offline.zip">here</a>.</p>
       </footer>

        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script language="JavaScript">
            $("table").addClass("table table-striped table-hover");
            $("body").scrollspy({target: ".bs-sidebar"});
        </script>
        {%- for path in extra_javascript %}
        <script src="{{ path }}"></script>
        {%- endfor %}
        {% block footerscript %} {% endblock %}

    </body>
</html>
{% if page and page.is_homepage %}
<!--
MkDocs version : {{ mkdocs_version }}
Build Date UTC : {{ build_date_utc }}
-->
{% endif %}
