.idea/
site/
5thsrd_offline/
docs/spellcasting/spell_lists/*
docs/spellcasting/spell_indexes/*
docs/gamemaster_rules/magic_item_indexes/*
docs/gamemaster_rules/monster_indexes/*

!docs/spellcasting/spell_lists/index.md
!docs/spellcasting/spell_indexes/index.md
!docs/gamemaster_rules/magic_item_indexes/index.md
!docs/gamemaster_rules/monster_indexes/index.md

purecss_theme/inline_styles.html

__pycache__
*.pyc
.venv
