site_name: 5th Edition SRD
copyright: Provided by Wizards of the Coast under the OGL 1.0a.
site_description: A web-based version of the 5th Edition Dungeons and Dragons SRD (System Reference Document)
theme:
  name: null
  color: "rgb(216, 25, 33)" # Match with @brand-primary in variables.less
  custom_dir: purecss_theme
site_dir: 5thsrd_offline
use_directory_urls: false
plugins:
  - mkdocs-simple-hooks:
      hooks:
        on_post_page: "plugins.table-styler:style_tables"
        on_pre_build: "plugins.css_minifier:generate_inline_css"
  - section-index
extra:
   enable_ads: no
