<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if config.theme.color %}<meta name="theme-color" content="{{ config.theme.color }}">{% endif %}
        {% if page.title == '5th Edition System Reference Document' and config.site_description %}
            {% set description = config.site_description %}
        {% elif 'name' in page.meta and '/magic_items/' in page.canonical_url %}
            {% set description = "The magic item {{ page.meta.name }}, from the 5th edition (5e) SRD (System Reference Document)." %}
        {% elif 'name' in page.meta and '/monsters/' in page.canonical_url %}
            {% set description = "The monster {{ page.meta.name }}, from the 5th edition (5e) SRD (System Reference Document)." %}
        {% elif 'name' in page.meta and '/spells/' in page.canonical_url %}
            {% set description ="The spell {{ page.meta.name }}, from the 5th edition (5e) SRD (System Reference Document)." %}
        {% elif page.meta.description %}
            {% set description = page.meta.description %}
        {% endif %}

        <meta name="description" content="{{ description }}">
        <meta name="og:image" content="/img/5thsrd.png">
        <meta name="og:description" content="{{ description }}">
        

        {% if config.site_author %}<meta name="author" content="{{ config.site_author }}">{% endif %}
        {% if page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}">{% endif %}

        <title>
            {% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}
        </title>

        {% include "inline_styles.html" %}

        {% if config.extra.enable_adsense %}
            <style>
                .ad_responsive_banner {width: 300px; height: 50px; margin-top: 45px; margin-bottom: 45px; padding: 5px; border: 1px solid; background-color: white;}
                .ad_responsive_square {width: 300px; height: 250px; margin-top: 45px; margin-bottom: 45px; padding: 5px; border: 1px solid; background-color: white;}
                @media screen and (min-width: 64em) {.ad_responsive_banner, .ad_responsive_square {width: 728px; height: 90px;}}
            </style>
            <script async defer src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7526144995854530" crossorigin="anonymous"></script>
        {% endif %}

        {% if config.extra.enable_snigel_ads %}
            {% raw %}
                <style>
                    #adngin-top_leaderboard-0 {width: 300px; height: 50px; margin-top: 45px; margin-bottom: 45px; background-color: white;}
                    #adngin-bottom_leaderboard-0 {width: 300px; height: 250px; margin-top: 45px; margin-bottom: 45px; background-color: white;}
                    @media screen and (min-width: 64em) {#adngin-top_leaderboard-0, #adngin-bottom_leaderboard-0 {width: 728px; height: 90px;}}
                </style>

                <script async data-cfasync="false" src="https://cdn.snigelweb.com/adengine/5thsrd.org/loader.js" type="text/javascript"></script>
            {% endraw %}
        {% endif %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        {% if config.extra.enable_ga %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72655850-1"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'UA-72655850-1');
            </script>
        {% endif %}
    </head>

    <body>
        <div id="content" class="pure-g">
            {% include "nav.html" %}
            <div class="pure-u-1 pure-u-lg-5-6">
                <div class="l-box">
                    {% if page.title not in ("5th Edition System Reference Document") %}
                       {% include "breadcrumbs.html" %}
                    {% endif %}

                    {% include "toc.html" %}

                    {% if config.extra.enable_adsense %}
                        <!-- Below TOC -->
                        <ins class="adsbygoogle ad_responsive_banner"
                            style="display:block"
                            data-ad-client="ca-pub-7526144995854530"
                            data-ad-slot="6705184930"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    {% endif %}

                    {% if config.extra.enable_snigel_ads %}
                        <div id="adngin-top_leaderboard-0"></div>
                    {% endif %}

                    <div id="page-content">
                        {{ page.content }}
                    </div>

                    {% if config.extra.enable_adsense %}
                        <!-- After Page Content -->
                        <ins class="adsbygoogle ad_responsive_square"
                                style="display:block"
                                data-ad-client="ca-pub-7526144995854530"
                                data-ad-slot="3781306995"></ins>
                        <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    {% endif %}

                    {% if config.extra.enable_snigel_ads %}
                        <div id="adngin-bottom_leaderboard-0"></div>
                        <div id="adngin-bottom_adhesive_desktop-0"></div>
                    {% endif %}
                </div>
            </div>
        </div>

        <footer>
            <hr>
            <div style="text-align: center; padding-left: 1em; padding-right: 1em;">
                <p>Questions or comments can be directed to <a href="mailto:john@5thsrd.org">john@5thsrd.org</a>.</p>
                {% if config.copyright %}
                    <p>{{ config.copyright }}</p>
                {% endif %}
                <p>{% if config.repo_url %}Check out the <a href="{{ config.repo_url }}">GitHub repo</a>.  {% endif %}Website built with <a href="http://www.mkdocs.org/">MkDocs</a>.</p>
                <p>Download the <a href="{{ base_url }}/5thsrd_offline.zip">offline version of this site</a>.</p>
                <p>View our <a href="/privacy_policy/">privacy policy</a>.</p>
            </div>
        </footer>
        <script async src="/js/site.min.js"></script>
    </body>
</html>
{% if page and page.is_homepage %}
<!--
MkDocs version : {{ mkdocs_version }}
Build Date UTC : {{ build_date_utc }}
-->
{% endif %}
