@media(min-width: 768px) and (max-width:991px) {
    body {
        margin-top: 120px;
    }
}
@media(min-width: 992px) and (max-width:1199px) {
    body {
        margin-top: 40px;
    }
    .bs-sidebar.affix {
        position: fixed;
        top: 120px;
}
